/*#root {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  text-align: center;*/
/*}*/
/*.sidebar {*/
/*  background-color: #f0f0f0; !* light gray background *!*/
/*  width: 250px;*/
/*  padding: 20px;*/
/*  box-sizing: border-box;*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  height: 100%;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/
/*.motorButton {*/
/*  background-color: green;*/

/*}*/

/*.headers {*/
/*  padding: 10px;*/
/*}*/

/*.title {*/
/*  font-weight: bold;*/
/*  margin-bottom: 10px;*/
/*}*/
/*!*.control-buttons{*!*/
/*!*  text-align: center;*!*/
/*!*  position: relative;*!*/
/*!*}*!*/


/*.controller{*/
/*  position: fixed;*/
/*  padding: 20px;*/
/*  align-content: flex-start;*/
/*  text-align: left;*/
/*}*/

/*!*.motorSlider{*!*/
/*!*  width: 70%;*!*/
/*!*}*!*/

.App {
  display: flex;
  height: 100vh;
  margin: 0;
}

.sidebar {
  background-color: #f0f0f0; /* light gray background */
  width: 400px;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.headers {
  padding: 5px;
  text-align: center;
}

.headers img {
  max-width: 100%;
  height: auto;
}

.title {
  font-weight: bold;
  color: #223647;
  margin-bottom: 10px;

}

.author {
  font-weight: bold;
  color: #223647;
  margin-bottom: 10px;

}
.version{
  font-weight: bold;
  color: green;
}



.controller {
  flex: 1;
  padding: 10px 0;
}

.controller div {
  margin-bottom: 20px;
}

.motorSlider,
.pumpSlider {
  width: 60%;
}

.controll-buttons {
  margin-top: auto; /* Push buttons to the bottom */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.motorButton,
.cameraStart {
  width: 100%;
  padding: 10px;
}


.button-active {
  background-color: green;
  color: white;
}

.button-inactive {
  background-color: red;
  color: white;
}
